autocorrect==0.3.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.6
django-crispy-forms==1.7.2
django-toolbelt==0.0.1
googletrans==2.2.0
goslate==1.5.1
grpcio==1.12.0
gunicorn==19.8.1
html5lib==0.9999999
nltk==3.3
numpy==1.14.4
pandas==0.22.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==5.1.0
pipenv==2018.6.25
polyglot==16.7.4
python-apt==1.1.0b1+ubuntu0.16.4.1
pytz==2014.10
pyudev==0.16.1
pyxdg==0.25
pyzmq==17.0.0
qtconsole==4.3.1
reportlab==3.3.0
requests==2.9.1
screen-resolution-extra==0.0.0
simplegeneric==0.8.1
static3==0.7.0
system-service==0.3
tabulate==0.8.1
testpath==0.3.1
textblob==0.15.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
word2number==1.1
