<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {color: white; font-family: monospace; text-align: center}
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Editor-Keywords</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body style="background: dodgerblue">
    <h1>SmartMedics Database Update Center</h1>
    <div class="flex-2">
        <div class="flex-container">
            <div>
                <h2><u>Add a symptom</u></h2>
                <form style="font-size: medium" action="/add_deletion/add_symptom/" method="POST">
                    {% csrf_token %}
                    <p>
                         {{form_symptom}}<br>
                        <input type="submit" id="sub1" value="Add Symptom">
                    </p>
                </form>
            </div>
            <div>
                <h2><u>Add a disease</u></h2>
                <form style="font-size: medium" method="POST" action="/add_deletion/add_disease/">
                        {% csrf_token %}
                    <p>
                        {{form_disease}}<br>
                        <input type="submit" id="sub2" value="Add Disease">
                    </p>
                </form>
            </div>
            <div>
                <h2><u>Add a new dominant keyword</u></h2>
                <form style="font-size: medium" method="POST" action="/add_deletion/add_dominant/">
                    {% csrf_token %}
                    <p>
                        {{form_dominant}}<br>
                        <input type="submit" id="dominant" value="Add to database">
                    </p>
                </form>
            </div>
        </div>
        <form style="align-self: center" method="POST" action="/add_deletion/view_symptom/">
            {% csrf_token %}
            <p style="text-align: center">
                <br>
                <input type="submit" value="View the existing Symptoms" id="symp_sub"><br>
            </p>
        </form>
        <form style="align-self: center" method="POST" action="/add_deletion/view_disease/">
            {% csrf_token %}
            <p style="text-align: center">
                <br>
                <input type="submit" value="View the existing Diseases" id="dis_sub"><br>
            </p>
        </form>
        <form style="align-self: center" method="POST" action="/add_deletion/delete_symptom/">
            {% csrf_token %}
            <p style="color: white">
                <br>
              {{form_sym_del}}<br>
            <input type="submit" value="Delete" id="del_keyword">
            </p>
            <br>
        </form>
    </div>
</body>
</html>